.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
auth/serviceAccountKey.json
*.md
!README.md
auth/serviceAccountKey.json

debug/real_voice_test/*
debug/*.txt
debug/*.wav
debug/*.jpg
models/wake/negatives/*.wav
models/wake/positives/*.wav
debug/*
data/asr_models/*.onnx
data/asr_models/zipformer-streaming-en-int8/*.onnx
data/asr_models/*